<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simpleblogs</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <h1 class="header__logo">LOGO</h1>
      <ul class="header__content">
        <li class="header__item"><a class="header__link" href="/">Home</a></li>
        <li class="header__item"><a class="header__link" href="/blogs">Blogs</a></li>
        <li class="header__item"><a class="header__link" href="#">GitHub</a></li>
      </ul>
      <div class="header__menu">
        <div class="header__line header__line--one"></div>
        <div class="header__line header__line--two"></div>
        <div class="header__line header__line--three"></div>
      </div>
    </nav>
  </header>